body {
    font-family: 'Playfair Display';
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    /* background: rgb(21, 135, 216);
    clip-path: polygon(0 0, 200% 0, 0 100%); */
    min-height: 300px;
    width: 100%;
    padding: 30px;
    color: #fff;
}

.icons {
    gap: 20px;
    display: flex;
    color: #000;
    font-size: larger;
}

.right {
    float: right;
}

.user {
    height: 200px;
    transform: scaleY(1.15);
    color: white;
    text-shadow: 2px 2px 1.5px black;
    font-size: 2rem;
    background: center / cover no-repeat url("./images/secretary.jpg");
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 10px;
}

.about {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    max-width: 50%;
    height: 220px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    position: relative;
    color: #333;
    padding: 5px;
}

section {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
    gap: 20px;
    width: 80%;
    margin-bottom: 10px;
}

.project {
    border: 1px solid silver;

}

.screenshot {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 150px;
    width: 100%;
    color: #fff;
    background: center / cover no-repeat url("./images/secretary.jpg");
}

.details {
    padding: 10px;
    margin-bottom: 10px;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    display: flex;
    background: rgb(21, 135, 216);
    color: #fff;
    padding: 10px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.info {
    font-size: 1.2em;
}

footer img {
    width: 400px;
    max-height: 300px;
}

/* For Mobile (small screens) */
@media (max-width: 380px) {
    body{
        font-size: 12px;
    }
    
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        /* clip-path: polygon(0 0, 150% 0, 0 60%); */
        gap: 30px;
    }

    .user{
        transform: scaleY(1);
        background: center / cover no-repeat url("./images/secretary.jpg");
        display: flex;
        justify-content: center;
        width: 90%;
    }

    .about{
        max-width: 90%;
        height: 250px;
        justify-content: center;
    }

    section{
        grid-template: 1fr / 1fr;
    }

    footer{
        flex-direction: column;
        justify-content: center;
        width: 80%;
        padding: 20px;
        gap: 10px;
    }

    footer img{
        width: 300px;
        max-height: 200px;
    }

    .icons{
        display: flex;
        justify-content: center;
        align-content: center;
    }
}

/* For Tablets (medium screens) */
@media (min-width: 769px) and (max-width: 1024px) {
    body {
        background-color: lightgreen;
    }
}